amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
axios==0.4.0
billiard==4.2.4
brotli==1.2.0
cbor2==5.9.0
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==46.0.7
cssselect2==0.9.0
daphne==4.2.1
defusedxml==0.7.1
Django==6.0.4
django-cors-headers==4.9.0
django-debug-toolbar==6.3.0
django-environ==0.13.0
django-extensions==4.1
django-filter==25.2
django-pandas==0.6.7
django-phonenumber-field==8.4.0
django-weasyprint==2.5.0
django_celery_results==2.6.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
environ==1.0
fonttools==4.62.1
gunicorn==25.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
kombu==5.6.2
lxml==6.1.0
Markdown==3.10.2
markdown-it-py==4.0.0
mdurl==0.1.2
msgpack==1.1.2
numpy==2.4.4
oauthlib==3.3.1
packaging==26.1
pandas==3.0.2
phonenumberslite==9.0.28
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
pyotp==2.9.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python3-openid==3.2.0
qrcode==8.2
redis==7.4.0
requests==2.33.1
requests-oauthlib==2.0.0
rich==15.0.0
service-identity==24.2.0
six==1.17.0
social-auth-app-django==5.8.0
social-auth-core==4.8.6
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
ujson==5.12.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.7.0
weasyprint==68.1
webencodings==0.5.1
zope.interface==8.3
zopfli==0.4.1
